<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lmc.lonely"
    android:versionCode="2"
    android:versionName="2.3"
    android:installLocation="auto">
    <uses-sdk
        android:minSdkVersion="10"
        android:maxSdkVersion="16"/>
    <!--联网-->
	<uses-permission android:name="android.permission.INTERNET"/>
	<!--系统震动-->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--操作SD卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!--更改背景-->
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <!--横竖切屏-->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <!--直接拨号-->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!--安装与卸载apk授权-->  
	<uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.DELETE_PACKAGES"/>
    <!--操作用户数据授权-->
	<uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA"/>
    <application
        android:icon="@drawable/ico_logo"
        android:label="@string/app_name"
        android:theme="@style/apptheme"
        android:name=".AppMgr">
        <activity
            android:name=".Wel"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
	        android:name=".Main"
	        android:label="@string/app_name"/>
        <activity
	        android:name=".Help"
	        android:label="@string/app_htitle"/>
        <receiver android:name=".base.BWidget1">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/base_widg"/>
        </receiver>
        <receiver android:name=".base.BWidget2">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
            <intent-filter><action android:name="lmc.lonely.base.WIDGET_UPDATE"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/base_widg"/>
        </receiver>
        <receiver android:name=".sys.SysBdcRcver">
            <intent-filter><action android:name="android.intent.action.EDIT"/></intent-filter>
        </receiver>
        <service android:name=".sys.SysServMgr"></service>
        <activity
	        android:name=".base.BAnimation0"
	        android:label="@string/base_animation"/>
        <activity
	        android:name=".base.BAnimation1"
	        android:label="@string/base_animation"/>
        <activity
	        android:name=".base.BAnimation2"
	        android:label="@string/base_animation"/>
        <activity
	        android:name=".base.BAnimation3"
	        android:label="@string/base_animation"/>
        <activity
	        android:name=".base.BAnimation4"
	        android:label="@string/base_animation"/>
        <activity
	        android:name=".base.BAnimation5"
	        android:label="@string/base_animation"/>
        <activity
	        android:name=".base.BAnimation5List"
	        android:label="@string/base_animation"/>
        <activity
	        android:name=".base.BButton"
	        android:label="@string/base_button"/>
        <activity
	        android:name=".base.BCheckBox1"
	        android:label="@string/base_checkbox"/>
        <activity
	        android:name=".base.BCheckBox2"
	        android:label="@string/base_checkbox"/>
        <activity
	        android:name=".base.BClock1"
	        android:label="@string/base_clock"/>
        <activity
	        android:name=".base.BClock2"
	        android:label="@string/base_clock"/>
        <activity
	        android:name=".base.BClockPlease"
	        android:label="@string/base_clock"
	        android:theme="@style/Theme.AccountDialog"/>
        <activity
	        android:name=".base.BColor"
	        android:label="@string/base_color"/>
        <activity
	        android:name=".base.BDialog"
	        android:label="@string/base_dialog"/>
        <activity
	        android:name=".base.BEditText"
	        android:label="@string/base_edittext"/>
        <activity
	        android:name=".base.BGalley0"
	        android:label="@string/base_galley"/>
        <activity
	        android:name=".base.BGalley1"
	        android:label="@string/base_galley"/>
        <activity
	        android:name=".base.BGalley2"
	        android:label="@string/base_galley"/>
        <activity
	        android:name=".base.BGalley3"
	        android:label="@string/base_galley"/>
        <activity
	        android:name=".base.BGalley4"
	        android:label="@string/base_galley"/>
        <activity
	        android:name=".base.BGalley5"
	        android:label="@string/base_galley"/>
        <activity
	        android:name=".base.BGalley6"
	        android:label="@string/base_galley"/>
        <activity
	        android:name=".base.BGalley7"
	        android:label="@string/base_galley"/>
        <activity
	        android:name=".base.BGalley8"
	        android:label="@string/base_galley"/>
        <activity
	        android:name=".base.BListView0"
	        android:label="@string/base_listview"/>
        <activity
	        android:name=".base.BListView1"
	        android:label="@string/base_listview"/>
        <activity
	        android:name=".base.BListView2"
	        android:label="@string/base_listview"/>
        <activity
	        android:name=".base.BListView3"
	        android:label="@string/base_listview"/>
        <activity
	        android:name=".base.BListView4"
	        android:label="@string/base_listview"/>
        <activity
	        android:name=".base.BListView5"
	        android:label="@string/base_listview"/>
        <activity
	        android:name=".base.BListView6"
	        android:label="@string/base_listview"/>
        <activity
	        android:name=".base.BListView7"
	        android:label="@string/base_listview"/>
        <activity
	        android:name=".base.BMenu1"
	        android:label="@string/base_menu"/>
        <activity
	        android:name=".base.BMenu2"
	        android:label="@string/base_menu"/>
        <activity
	        android:name=".base.BMenu3"
	        android:label="@string/base_menu"/>
        <activity
	        android:name=".base.BPopup"
	        android:label="@string/base_popup"/>
        <activity
	        android:name=".base.BRadioButton"
	        android:label="@string/base_radio"/>
        <activity
	        android:name=".base.BSeekBar"
	        android:label="@string/base_seekbar"/>
        <activity
	        android:name=".base.BSpinner"
	        android:label="@string/base_spinner"/>
        <activity
	        android:name=".base.BTabHost0"
	        android:label="@string/base_tabhost"/>
        <activity
	        android:name=".base.BTabHost1"
	        android:label="@string/base_tabhost"/>
        <activity
	        android:name=".base.BTabHost2"
	        android:label="@string/base_tabhost"/>
        <activity
	        android:name=".base.BTabHost3"
	        android:label="@string/base_tabhost"/>
        <activity
	        android:name=".base.BTextView"
	        android:label="@string/base_textview"/>
        <activity
	        android:name=".base.BTouch"
	        android:label="@string/base_touch"/>
        <activity
	        android:name=".base.BView"
	        android:label="@string/base_view"/>
        <activity
	        android:name=".lay.LayAbs"
	        android:label="@string/lay_abs"/>
        <activity
	        android:name=".lay.LayComx"
	        android:label="@string/lay_comx"/>
        <activity
	        android:name=".lay.LayFrame1"
	        android:label="@string/lay_frame"/>
        <activity
	        android:name=".lay.LayFrame2"
	        android:label="@string/lay_frame"/>
        <activity
	        android:name=".lay.LayLine1"
	        android:label="@string/lay_line"/>
        <activity
	        android:name=".lay.LayLine2"
	        android:label="@string/lay_line"/>
        <activity
	        android:name=".lay.LayRelat1"
	        android:label="@string/lay_relat"/>
        <activity
	        android:name=".lay.LayRelat2"
	        android:label="@string/lay_relat"/>
        <activity
	        android:name=".lay.LayTab1"
	        android:label="@string/lay_tab"/>
        <activity
	        android:name=".lay.LayTab2"
	        android:label="@string/lay_tab"/>
        <activity
	        android:name=".file.FApp"
	        android:label="@string/file_fil"/>
        <activity
	        android:name=".file.FJson"
	        android:label="@string/file_json"/>
        <activity
	        android:name=".file.FLkFiles"
	        android:label="@string/file_lok"/>
        <activity
	        android:name=".file.FMp3"
	        android:label="@string/file_mus"/>
        <activity
	        android:name=".file.FOper"
	        android:label="@string/file_oper"/>
        <activity
	        android:name=".file.FProp"
	        android:label="@string/file_prop"/>
        <activity
	        android:name=".file.FRaw"
	        android:label="@string/file_raw"/>
        <activity
	        android:name=".file.FSd"
	        android:label="@string/file_sd"/>
        <activity
	        android:name=".file.FShalay"
	        android:label="@string/file_sharelay"/>
        <activity
	        android:name=".file.FShare"
	        android:label="@string/file_share"/>
        <activity
	        android:name=".file.FXml"
	        android:label="@string/file_xml"/>
        <activity
	        android:name=".db.DbParDo"
	        android:label="@string/db_par"/>
        <activity
	        android:name=".db.DbSqliDo"
	        android:label="@string/db_sqli"/>
        <activity
	        android:name=".thread.ThAjaxCheck"
	        android:label="@string/thread_ajchk"/>
        <activity
	        android:name=".thread.ThAjaxDown"
	        android:label="@string/thread_ajax"/>
        <activity
	        android:name=".thread.ThBall"
	        android:label="@string/thread_ball"/>
        <activity
	        android:name=".thread.ThDMain"
	        android:label="@string/thread_data"/>
        <activity
	        android:name=".thread.ThDSon"
	        android:label="@string/thread_data"/>
        <activity
	        android:name=".thread.ThFjxc"
	        android:label="@string/thread_fjxc"/>
        <activity
	        android:name=".thread.ThJumpMain"
	        android:label="@string/thread_jump"/>
        <activity
	        android:name=".thread.ThJumpSonO"
	        android:label="@string/thread_jump"/>
        <activity
	        android:name=".thread.ThJumpSonT"
	        android:label="@string/thread_jump"
	        android:theme="@android:style/Theme.Dialog"/>
        <activity
	        android:name=".thread.ThMgr"
	        android:label="@string/thread_mgr"/>
        <activity
	        android:name=".thread.ThNhd"
	        android:label="@string/thread_nhd"/>
        <activity
	        android:name=".sys.SysApk"
	        android:label="@string/sys_apk"/>
        <activity
	        android:name=".sys.SysBdc"
	        android:label="@string/sys_bdcast"/>
        <activity
	        android:name=".sys.SysChgbg"
	        android:label="@string/sys_chgbg"/>
        <activity
	        android:name=".sys.SysHsqp"
	        android:label="@string/sys_hsqp"
	        android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard"/>
        <activity
	        android:name=".sys.SysServ"
	        android:label="@string/sys_serv"/>
        <activity
	        android:name=".sys.SysXtcxMain"
	        android:label="@string/sys_xtcx"/>
        <activity
	        android:name=".sys.SysXtcxSon"
	        android:label="@string/sys_xtcx"
	        android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.OPENABLE"/>
                <data android:mimeType="image/jpeg"/>
            </intent-filter>
        </activity>
        <activity
	        android:name=".http.HttpApacheImpl"
	        android:label="@string/http_apache"/>
        <activity
	        android:name=".http.HttpImgImpl"
	        android:label="@string/http_updown"/>
        <activity
	        android:name=".http.HttpNetImpl"
	        android:label="@string/http_net"/>
    </application>
</manifest>